*.exe

# Auto-managed large files (>5MB)
roust-api/target/debug/roust_api.pdb
roust-api/target/debug/roust-api.exe
roust-api/target/debug/deps/libaho_corasick-6315e8a013841576.rlib
roust-api/target/debug/deps/libaxum-971ab430722eb95e.rlib
roust-api/target/debug/deps/libaxum-971ab430722eb95e.rmeta
roust-api/target/debug/deps/libclap_builder-dd3a571e1a867aad.rlib
roust-api/target/debug/deps/libhyper-526f95f5014379b8.rlib
roust-api/target/debug/deps/libjiff-b5cec34b7757c69c.rlib
roust-api/target/debug/deps/libjiff-b5cec34b7757c69c.rmeta
roust-api/target/debug/deps/libregex_automata-f80711e0bb635edb.rlib
roust-api/target/debug/deps/libregex_syntax-665dffe64d3e6cdd.rlib
roust-api/target/debug/deps/libring-0979c4a696e2b9a1.rlib
roust-api/target/debug/deps/libroust-a617e24ebd037148.rlib
roust-api/target/debug/deps/librustls-0cf5c14adeb73b6c.rlib
roust-api/target/debug/deps/libserde_core-f82dc9a575757996.rlib
roust-api/target/debug/deps/libserde_json-9802f3751e8b0d73.rlib
roust-api/target/debug/deps/libsyn-8110dccc5e560c34.rlib
roust-api/target/debug/deps/libsyn-b178e79044eb8989.rlib
roust-api/target/debug/deps/libtokio-cadf864e0f4b96e3.rlib
roust-api/target/debug/deps/libtokio-cadf864e0f4b96e3.rmeta
roust-api/target/debug/deps/libureq-8d09157d839398dd.rlib
roust-api/target/debug/deps/libwebpki-74b06684d50c7861.rlib
roust-api/target/debug/deps/libwindows_sys-3d5669fe59d55179.rlib
roust-api/target/debug/deps/libwindows_sys-3d5669fe59d55179.rmeta
roust-api/target/debug/deps/libwindows_sys-f56f979594854860.rlib
roust-api/target/debug/deps/libwindows_sys-f56f979594854860.rmeta
roust-api/target/debug/deps/libwindows-617a8228ddf7a69d.rlib
roust-api/target/debug/deps/libwindows-617a8228ddf7a69d.rmeta
roust-api/target/debug/deps/roust_api.exe
roust-api/target/debug/deps/roust_api.pdb
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l418ph7-0o4kkht-9mbcb6dl2tejecw6588c4d9ia/dep-graph.bin
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l418ph7-0o4kkht-9mbcb6dl2tejecw6588c4d9ia/query-cache.bin
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l8fones-01xe7z8-45o3pf7aa1yjr4onnn48r2khm/dep-graph.bin
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l8fones-01xe7z8-45o3pf7aa1yjr4onnn48r2khm/query-cache.bin
roust-webui/node_modules/@esbuild/win32-x64/esbuild.exe
roust-webui/node_modules/@lucide/vue/dist/cjs/lucide-vue.js.map
roust-webui/node_modules/@ts-morph/common/dist/typescript.js
roust-webui/node_modules/lightningcss-win32-x64-msvc/lightningcss.win32-x64-msvc.node
roust-webui/node_modules/typescript/lib/_tsc.js
roust-webui/node_modules/typescript/lib/typescript.js
# === auto: large files (>5MB) ===

# Auto-managed: files larger than 5 MB
roust-api/target/debug/deps/libroust-608166145d2c8b66.rlib
roust-api/target/debug/deps/libroust-819bb1f42b7ddc8e.rlib
roust-api/target/debug/deps/libtokio-d841d33a0388a12a.rmeta
roust-api/target/debug/deps/libwindows_sys-11805a8f0c7155d2.rmeta
roust-api/target/debug/deps/libwindows_sys-2a569ae473f99473.rmeta
roust-api/target/debug/deps/libwindows-3ad46ac1f3a9bedb.rlib
roust-api/target/debug/deps/libwindows-3ad46ac1f3a9bedb.rmeta
roust-api/target/debug/deps/libwindows-420df20fecf7028e.rmeta
roust-api/target/debug/deps/libwindows-68d5849a752b1fd4.rlib
roust-api/target/debug/deps/libwindows-68d5849a752b1fd4.rmeta
roust-api/target/debug/deps/libwindows-a6c56b013d2d3c2c.rlib
roust-api/target/debug/deps/libwindows-a6c56b013d2d3c2c.rmeta
roust-api/target/debug/deps/libwindows-b36133eb4b41f059.rmeta
roust-api/target/debug/deps/roust-32411f56814d1237.pdb
roust-api/target/debug/deps/roust-e6839ffc77a4f74c.pdb
roust-api/target/debug/incremental/roust-0hexco51ke8re/s-hlz8a3cstb-1vs6hlv-working/dep-graph.part.bin
roust-api/target/debug/incremental/roust-133komk4wj5qf/s-hlz5hmp5lb-04lrlx3-working/dep-graph.part.bin
roust-api/target/debug/incremental/roust-18mruxjq15rzh/s-hlz5jkqsoh-0fv0p3z-6bn1ag91bdhu1yvogjd5mvxku/dep-graph.bin
roust-api/target/debug/incremental/roust-18mruxjq15rzh/s-hlz5l5pjs4-10zckvm-4flwvgquhnlkvm6oalqw9x8ma/dep-graph.bin
roust-api/target/debug/incremental/roust-2pi8j26rxvh36/s-hlz5mu6pqs-1msvnzh-elojxdk1f5a9xdhzlpgdkhm7l/dep-graph.bin
roust-api/target/debug/incremental/roust-2pi8j26rxvh36/s-hlz5mu6pqs-1msvnzh-elojxdk1f5a9xdhzlpgdkhm7l/query-cache.bin
roust-api/target/debug/incremental/roust-2pi8j26rxvh36/s-hlz5njhu23-02z07ev-8fyh1cj6f299rx0eeuul9ds2v/dep-graph.bin
roust-api/target/debug/incremental/roust-2pi8j26rxvh36/s-hlz5njhu23-02z07ev-8fyh1cj6f299rx0eeuul9ds2v/query-cache.bin
roust-api/target/debug/incremental/roust-2wkjdaz2lgoi9/s-hlz5l7q44a-0s8pmnu-acciox8p06aubokj7zgo7wlob/dep-graph.bin
roust-api/target/debug/incremental/roust-2wkjdaz2lgoi9/s-hlz5l7q44a-0s8pmnu-acciox8p06aubokj7zgo7wlob/query-cache.bin
roust-api/target/debug/incremental/roust-2wkjdaz2lgoi9/s-hlz87ndp24-13idkaw-63cdqvi53kj9xiny542y6zirg/dep-graph.bin
roust-api/target/debug/incremental/roust-2wkjdaz2lgoi9/s-hlz87ndp24-13idkaw-63cdqvi53kj9xiny542y6zirg/query-cache.bin
roust-api/target/debug/incremental/roust-2zsjhkclpxudj/s-hlz8cp6eh9-0y87clh-67av5s2aivhgs9n0bk54bvqp7/dep-graph.bin
roust-api/target/debug/incremental/roust-2zsjhkclpxudj/s-hlz8cp6eh9-0y87clh-67av5s2aivhgs9n0bk54bvqp7/query-cache.bin
roust-api/target/debug/incremental/roust-2zsjhkclpxudj/s-hlz8do9r4x-040lia6-a2mthfyilg5m8e15af9ix1hm1/dep-graph.bin
roust-api/target/debug/incremental/roust-2zsjhkclpxudj/s-hlz8do9r4x-040lia6-a2mthfyilg5m8e15af9ix1hm1/query-cache.bin
roust-api/target/debug/incremental/roust-3635a4p731mqh/s-hlz8d8wvqw-08xrv5k-6ro00zbx5ugi0y0z9e6qex65y/dep-graph.bin
roust-api/target/debug/incremental/roust-3635a4p731mqh/s-hlz8d8wvqw-08xrv5k-6ro00zbx5ugi0y0z9e6qex65y/query-cache.bin
roust-api/target/debug/incremental/roust-3635a4p731mqh/s-hlz8g5x91p-198k084-0ym5xswcgwi9nrktabdbbq9re/dep-graph.bin
roust-api/target/debug/incremental/roust-3635a4p731mqh/s-hlz8g5x91p-198k084-0ym5xswcgwi9nrktabdbbq9re/query-cache.bin
roust-api/target/release/deps/libaxum-6419755a89555195.rlib
roust-api/target/release/deps/libaxum-6419755a89555195.rmeta
roust-api/target/release/deps/libjiff-8585d24746c2df84.rlib
roust-api/target/release/deps/libjiff-8585d24746c2df84.rmeta
roust-api/target/release/deps/libregex_automata-b2a20137363e869f.rlib
roust-api/target/release/deps/librustls-ee4a7e6ef98bd1c1.rlib
roust-api/target/release/deps/libserde_core-3b98e1a6b9509456.rlib
roust-api/target/release/deps/libserde_core-3b98e1a6b9509456.rmeta
roust-api/target/release/deps/libsyn-6b86673f6c195dc3.rlib
roust-api/target/release/deps/libsyn-88c877eac7477e49.rlib
roust-api/target/release/deps/libtokio-7c87e1718d8cd3cc.rlib
roust-api/target/release/deps/libtokio-7c87e1718d8cd3cc.rmeta
roust-api/target/release/deps/libwindows_sys-1f418b91a0738450.rlib
roust-api/target/release/deps/libwindows_sys-1f418b91a0738450.rmeta
roust-api/target/release/deps/libwindows_sys-216cd01f7f7eef16.rlib
roust-api/target/release/deps/libwindows_sys-216cd01f7f7eef16.rmeta
roust-api/target/release/deps/libwindows-9e93b1d53bd3b0a5.rlib
roust-api/target/release/deps/libwindows-9e93b1d53bd3b0a5.rmeta
