*.exe

# Auto-managed large files (>5MB)
roust-api/target/debug/roust_api.pdb
roust-api/target/debug/roust-api.exe
roust-api/target/debug/deps/libaho_corasick-6315e8a013841576.rlib
roust-api/target/debug/deps/libaxum-971ab430722eb95e.rlib
roust-api/target/debug/deps/libaxum-971ab430722eb95e.rmeta
roust-api/target/debug/deps/libclap_builder-dd3a571e1a867aad.rlib
roust-api/target/debug/deps/libhyper-526f95f5014379b8.rlib
roust-api/target/debug/deps/libjiff-b5cec34b7757c69c.rlib
roust-api/target/debug/deps/libjiff-b5cec34b7757c69c.rmeta
roust-api/target/debug/deps/libregex_automata-f80711e0bb635edb.rlib
roust-api/target/debug/deps/libregex_syntax-665dffe64d3e6cdd.rlib
roust-api/target/debug/deps/libring-0979c4a696e2b9a1.rlib
roust-api/target/debug/deps/libroust-a617e24ebd037148.rlib
roust-api/target/debug/deps/librustls-0cf5c14adeb73b6c.rlib
roust-api/target/debug/deps/libserde_core-f82dc9a575757996.rlib
roust-api/target/debug/deps/libserde_json-9802f3751e8b0d73.rlib
roust-api/target/debug/deps/libsyn-8110dccc5e560c34.rlib
roust-api/target/debug/deps/libsyn-b178e79044eb8989.rlib
roust-api/target/debug/deps/libtokio-cadf864e0f4b96e3.rlib
roust-api/target/debug/deps/libtokio-cadf864e0f4b96e3.rmeta
roust-api/target/debug/deps/libureq-8d09157d839398dd.rlib
roust-api/target/debug/deps/libwebpki-74b06684d50c7861.rlib
roust-api/target/debug/deps/libwindows_sys-3d5669fe59d55179.rlib
roust-api/target/debug/deps/libwindows_sys-3d5669fe59d55179.rmeta
roust-api/target/debug/deps/libwindows_sys-f56f979594854860.rlib
roust-api/target/debug/deps/libwindows_sys-f56f979594854860.rmeta
roust-api/target/debug/deps/libwindows-617a8228ddf7a69d.rlib
roust-api/target/debug/deps/libwindows-617a8228ddf7a69d.rmeta
roust-api/target/debug/deps/roust_api.exe
roust-api/target/debug/deps/roust_api.pdb
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l418ph7-0o4kkht-9mbcb6dl2tejecw6588c4d9ia/dep-graph.bin
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l418ph7-0o4kkht-9mbcb6dl2tejecw6588c4d9ia/query-cache.bin
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l8fones-01xe7z8-45o3pf7aa1yjr4onnn48r2khm/dep-graph.bin
roust-api/target/debug/incremental/roust-0tss48h8li2xg/s-hl3l8fones-01xe7z8-45o3pf7aa1yjr4onnn48r2khm/query-cache.bin
roust-webui/node_modules/@esbuild/win32-x64/esbuild.exe
roust-webui/node_modules/@lucide/vue/dist/cjs/lucide-vue.js.map
roust-webui/node_modules/@ts-morph/common/dist/typescript.js
roust-webui/node_modules/lightningcss-win32-x64-msvc/lightningcss.win32-x64-msvc.node
roust-webui/node_modules/typescript/lib/_tsc.js
roust-webui/node_modules/typescript/lib/typescript.js
